
                <div class="user-content">
                    <div class="user-panel">
                        <h2 class="user-panel-title">Frequently Asked Questions</h2>
                        <div id="faqList">
                            <h4 class="color-dark">General</h4>
                            <div class="accordion-simple" id="faqList-1">
                                <div class="accordion-item">
                                    <h6 class="accordion-heading collapsed" data-toggle="collapse" data-target="#collapse-1-1"> What is ICO Crypto?  </h6>
                                    <div id="collapse-1-1" class="collapse" data-parent="#faqList">
                                        <div class="accordion-content">
                                            <p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
                                        </div>
                                    </div>
                                </div><!-- .accordion-item -->
                                <div class="accordion-item">
                                    <h6 class="accordion-heading collapsed" data-toggle="collapse" data-target="#collapse-1-2">What cryptocurrencies can I use to purchase?</h6>
                                    <div id="collapse-1-2" class="collapse" data-parent="#faqList">
                                        <div class="accordion-content">
                                            <p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
                                        </div>
                                    </div>
                                </div><!-- .accordion-item -->
                                <div class="accordion-item">
                                    <h6 class="accordion-heading collapsed" data-toggle="collapse" data-target="#collapse-1-3">How can I participate in the ICO Token sale?</h6>
                                    <div id="collapse-1-3" class="collapse" data-parent="#faqList">
                                        <div class="accordion-content">
                                            <p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
                                        </div>
                                    </div>
                                </div><!-- .accordion-item -->
                                <div class="accordion-item">
                                    <h6 class="accordion-heading collapsed" data-toggle="collapse" data-target="#collapse-1-4">How do I benefit from the ICO Token?</h6>
                                    <div id="collapse-1-4" class="collapse" data-parent="#faqList">
                                        <div class="accordion-content">
                                            <p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
                                        </div>
                                    </div>
                                </div><!-- .accordion-item -->
                            </div><!-- .accordion -->

                            <h4 class="color-dark">KYC Application</h4>
                            <div class="accordion-simple" id="faqList-2">
                                <div class="accordion-item">
                                    <h6 class="accordion-heading collapsed" data-toggle="collapse" data-target="#collapse-2-1"> Which of us ever undertakes laborious?  </h6>
                                    <div id="collapse-2-1" class="collapse" data-parent="#faqList">
                                        <div class="accordion-content">
                                            <p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
                                        </div>
                                    </div>
                                </div><!-- .accordion-item -->
                                <div class="accordion-item">
                                    <h6 class="accordion-heading collapsed" data-toggle="collapse" data-target="#collapse-2-2">Who do not know how to pursue rationally?</h6>
                                    <div id="collapse-2-2" class="collapse" data-parent="#faqList">
                                        <div class="accordion-content">
                                            <p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
                                        </div>
                                    </div>
                                </div><!-- .accordion-item -->
                                <div class="accordion-item">
                                    <h6 class="accordion-heading collapsed" data-toggle="collapse" data-target="#collapse-2-3">Their separate existence is a myth?</h6>
                                    <div id="collapse-2-3" class="collapse" data-parent="#faqList">
                                        <div class="accordion-content">
                                            <p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
                                        </div>
                                    </div>
                                </div><!-- .accordion-item -->
                                <div class="accordion-item">
                                    <h6 class="accordion-heading collapsed" data-toggle="collapse" data-target="#collapse-2-4">Pityful a rethoric question ran over her cheek?</h6>
                                    <div id="collapse-2-4" class="collapse" data-parent="#faqList">
                                        <div class="accordion-content">
                                            <p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
                                        </div>
                                    </div>
                                </div><!-- .accordion-item -->
                            </div><!-- .accordion -->

                            <h4 class="color-dark">Contribution</h4>
                            <div class="accordion-simple" id="faqList-3">
                                <div class="accordion-item">
                                    <h6 class="accordion-heading collapsed" data-toggle="collapse" data-target="#collapse-3-1">When she reached the first hills?</h6>
                                    <div id="collapse-3-1" class="collapse" data-parent="#faqList">
                                        <div class="accordion-content">
                                            <p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
                                        </div>
                                    </div>
                                </div><!-- .accordion-item -->
                                <div class="accordion-item">
                                    <h6 class="accordion-heading collapsed" data-toggle="collapse" data-target="#collapse-3-2">Which roasted parts of sentences fly into your mouth?</h6>
                                    <div id="collapse-3-2" class="collapse" data-parent="#faqList">
                                        <div class="accordion-content">
                                            <p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
                                        </div>
                                    </div>
                                </div><!-- .accordion-item -->
                                <div class="accordion-item">
                                    <h6 class="accordion-heading collapsed" data-toggle="collapse" data-target="#collapse-3-3">Vokalia and Consonantia, there live?</h6>
                                    <div id="collapse-3-3" class="collapse" data-parent="#faqList">
                                        <div class="accordion-content">
                                            <p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
                                        </div>
                                    </div>
                                </div><!-- .accordion-item -->
                                <div class="accordion-item">
                                    <h6 class="accordion-heading collapsed" data-toggle="collapse" data-target="#collapse-3-4">How do I benefit from the ICO Token?</h6>
                                    <div id="collapse-3-4" class="collapse" data-parent="#faqList">
                                        <div class="accordion-content">
                                            <p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
                                        </div>
                                    </div>
                                </div><!-- .accordion-item -->
                            </div><!-- .accordion -->
                        </div><!-- #faqList -->
                    </div><!-- .user-panel -->
                </div><!-- .user-content -->
